nav{
    height: 50px;
    width: 100%;
    position: fixed;
}


.navLinkContainer{
width: 1320px;  
}
.logo{
    height: 50px;
    width: 150px;
    color: white;
    background-color: orangered;
}
.navBtn{
    height: 50px;
    width: 80px;
    color: white;
    border-right: 1px solid black;
}
.navBtn h5{
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
}
.navBtn:hover{
    background-color: rgb(0, 0, 0);
} 
.navSearchBar{
    border-right: 1px solid black;
}
.form-control{
    height: 30px;
    width: 300px;
}  

.navBtnLogin{
    height: 30px;
    width: 100px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid grey;
}
.navBtnLogin:hover{
    border: 1px solid whitesmoke;
}
.navBtnLogin h5{
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
}
.navBtnOrange{
    height: 30px;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: orangered;
    border-radius: 5px;
}
.navBtnOrange:hover{
    scale: 1.05;
}
.navBtnOrange h5{
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
}


.navBtnSocial{
    height: 50px;
    width: 50px;
    color: white;
    font-size: 24px;
}
.navBtnSocialTiktok{
    height: 50px;
    width: 50px;
    color: white;
    font-size: 24px;
    position: relative;
}
.bi2{
    top: 5px;
    right: 15px;
    color: royalblue;
}
.bi3{
    top: 8px;
    right: 10px;
    color: rgb(255, 0, 68);
}

.navBtnSocialPoint{
    height: 50px;
    width: 50px;
    color: white;
    font-size: 8px;
}
.bi-circle-fill{
    color: white;
}


.navBtnGo{
    height: 30px;
    width: 200px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid grey;
    
}
.navBtnGo:hover{
    border: 1px solid whitesmoke;
}
.navBtnGo h5{
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
}

.navBtnDrop{
    height: 50px;
    width: 150px;
    color: orangered;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin-left: 15px;
}
.navBtnDrop h5{
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
}
.navBtnDrop:hover{
    background-color: rgb(0, 0, 0);
} 

.navBtnBell{
    height: 50px;
    width: 50px;
    color: white;
    font-size: 17px;
}