.UserT1{
    color: black;
    background-color: white;
}

.userHeader{
    margin-top: 50px;
    height: 300px;
    background-color: orangered
}

.avatarBtnCondfirm{
    background-color: black;
    font-size: 14px;
    color: white;
    width: 70px;
    height: 30px;
}

.modal-title{
    width: 340px;
}
.changeUserAvatar{
    width: 200px;
}
.rigaInfoCont{
    width: 200px;
}
.changeUserInfo{
    border:1px solid black;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 30px;
}
